@model CloudSolutions.Surveys.ViewModels.NumericValueSurveyControlPartMetadataViewModel
@using OrchardCore
@using OrchardCore.ContentFields.Settings
@{
    var editorItems = new List<SelectListItem>()
    {
        new SelectListItem(EditorOption.Dropdown.ToString(), EditorOption.Dropdown.ToString()),
        new SelectListItem(EditorOption.Radio.ToString(), EditorOption.Radio.ToString()),
    };

    var minLengthWrapperId = Html.IdFor(x => x.MinValue) + "_FieldWrapper";
    var maxLengthWrapperId = Html.IdFor(x => x.MaxValue) + "_FieldWrapper";
}
<div class="@Orchard.GetWrapperClasses("field-wrapper")" id="@Html.IdFor(x => x.IsRequired)_FieldWrapper">
    <div class="@Orchard.GetEndClasses(true)">
        <div class="form-check">
            <input type="checkbox" asp-for="IsRequired" class="form-check-input">
            <label asp-for="IsRequired" class="form-check-label">@T["Required"]</label>
        </div>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses("field-wrapper")" id="@Html.IdFor(x => x.MinValue)_FieldWrapper">
    <label asp-for="MinValue" class="@Orchard.GetLabelClasses()">@T["Minimum allowed value"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="number" asp-for="MinValue" class="form-control" step="0.1" />
        @T["Leave it blank to have no minimum"]
    </div>
</div>

<div class="@Orchard.GetWrapperClasses("field-wrapper")" id="@Html.IdFor(x => x.MaxValue)_FieldWrapper">
    <label asp-for="MaxValue" class="@Orchard.GetLabelClasses()">@T["Maximum allowed value"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="number" asp-for="MaxValue" class="form-control" step="0.1" />
        @T["Leave it blank to have no maximum"]
    </div>
</div>

<div class="@Orchard.GetWrapperClasses("field-wrapper")" id="@Html.IdFor(x => x.Format)_FieldWrapper">
    <label asp-for="Format" class="@Orchard.GetLabelClasses()">@T["Display Format"]</label>
    <div class="@Orchard.GetEndClasses()">
        <select class="form-control content-preview-select" asp-for="Format" asp-items="Model.FormatOptions" required>
        </select>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses("field-wrapper")" id="@Html.IdFor(x => x.Hint)_FieldWrapper">
    <label asp-for="Hint" class="@Orchard.GetLabelClasses()">@T["Optional Hint"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input asp-for="Hint" class="form-control">
    </div>
</div>
