@model CloudSolutions.Surveys.ViewModels.NumericValueSurveyControlInterviewViewModel
@using OrchardCore.ContentFields.Settings

<div class="mb-3 field-wrapper" id="@Html.IdFor(x => x.Value)_FieldWrapper">

    <label asp-for="Value" class="@(Model.Title == null ? "sr-only" : String.Empty)">@Model.Title</label>
    <input type="number" asp-for="Value" class="form-control" step="@Model.Scale" required="@(Model.IsRequired ? "true" : "false")" />
    <span asp-validation-for="Value" class="text-danger"></span>

    @if (!String.IsNullOrEmpty(Model.Hint))
    {
        <span class="hint">@Model.Hint</span>
    }
</div>
