@using CloudSolutions.Surveys.ViewModels
@using System.Globalization
@model SurveyThresholdWidgetPartViewModel

@if (Model.Responses == null || !Model.Responses.Any())
{
    <div class="alert alert-info text-center" role="alert">
        @T["No responses found within the specified threshold."]
    </div>

    return;
}

<table class="table table-bordered table-responsive table-striped">
    <thead class="thead-light">
        <tr>
            <th>@T["User Display Name"]</th>
            <th>@T["Interviewed At"]</th>
            <th>@T["Title"]</th>
            <th>@T["Response"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var response in Model.Responses)
        {
            <tr>
                <td>@response.UserDisplayName</td>
                <td>@response.InterviewedAtLocal.ToString("g", CultureInfo.InvariantCulture)</td>
                <td>@response.Title</td>
                <td>@response.Response</td>
            </tr>
        }
    </tbody>
</table>
