@using CloudSolutions.Surveys.ViewModels
@using OrchardCore
@model SurveyThresholdWidgetPartViewModel

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="SelectedSurveyId" class="@Orchard.GetLabelClasses()">@T["Select Survey"]</label>
    <div class="@Orchard.GetEndClasses()">
        <select asp-for="SelectedSurveyId" class="form-control" asp-items="Model.AvailableSurveys"></select>
        <span class="form-text text-muted">@T["Select the survey to query responses from."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="TotalDaysToView" class="@Orchard.GetLabelClasses()">@T["Total Days to View"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="number" asp-for="TotalDaysToView" class="form-control" />
        <span class="form-text text-muted">@T["Total days to view must be between 1 and 30."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="TotalMinutesToCache" class="@Orchard.GetLabelClasses()">@T["Total Minutes to Cache"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="number" asp-for="TotalMinutesToCache" class="form-control" />
        <span class="form-text text-muted">@T["Total minutes to cache"]</span>
    </div>
</div>
