@model TeamSelectMenuViewModel
@{
    var wrapperId = Html.IdFor(x => x.TeamId) + "_FieldWrapper";
}
<div class="mb-3 row field-wrapper" id="@wrapperId">
    <label asp-for="TeamId" class="col-md-1 col-form-label">@T["Team"]</label>

    <div class="col-md-11">

        <select class="form-control" asp-for="TeamId" asp-items="@Model.Options" data-fetch-url="@Url.Action("TeamOverview", "Charts", new { area = CloudSolutions.Surveys.Startup.ModuleName, widgetId = Model.WidgetContentItemId })">
            <option value="">@T["All Available"]</option>
        </select>
    </div>

</div>


<script at="Foot">

    document.addEventListener('DOMContentLoaded', function () {

        let wrapper = document.getElementById('@wrapperId');
        let menu = document.getElementById('@Html.IdFor(x => x.TeamId)');

        menu.addEventListener('change', e => {

            if (menu.selectedIndex < 0) {
                return;
            }

            let url = menu.getAttribute('data-fetch-url');
            if (!url) {
                return;
            }

            if (menu.selectedIndex > -1 && menu.options[menu.selectedIndex].value) {
                url += "?teamId=" + menu.options[menu.selectedIndex].value;
            }

            const card = menu.closest('.card');

            let canvas = card.querySelector('.line-chart');

            fetch(url)
                .then(response => response.json())
                .then(items => {
                    console.log('data from the server');
                    console.log(items);
                    canvas.chart.data.datasets = items.data.datasets;
                    canvas.chart.update();
                });

        });


    });

</script>
