@model TeamSelectorViewModel

@if (Model.IsHidden)
{
    <input type="hidden" asp-for="CurrentTeamId" />
}
else if (!Model.Teams.Any())
{
    <div class="alert alert-warning text-center">@T["You not currently a member of any team. Before you can contine, ask the site admin to enroll you in least one team."]</div>
}
else
{
    <div class="card text-bg-dark mb-3">
        <div class="card-header">
            @T["Current Team"]
        </div>
        <div class="card-body">
            <label asp-for="CurrentTeamId">@T["Current Team"]</label>
            <select class="form-select" asp-for="CurrentTeamId" asp-items="Model.Teams">
                @T["Please select a team"]
            </select>

            @if (!Model.Teams.Any())
            {
                <span class="hint">@T["You not currently a member of any team. Beofre you can contine, ask the admin to be enrolled into at least one team"]</span>
            }
        </div>
    </div>
}
