@using OrchardCore.ContentFields.Settings
@using CloudSolutions.Surveys.ViewModels

@model TextValueSurveyControlInterviewViewModel

@{
    var required = Model.IsRequired ? "true" : "false";
}

<div class="mb-3 field-wrapper" id="@Html.IdFor(x => x.Text)_FieldWrapper">

    <label asp-for="Text" class="@(Model.Title == null ? "sr-only" : String.Empty)">@Model.Title</label>

    @if (Model.Editor == "Email")
    {
        <input type="email" asp-for="Text" class="form-control" required="@required" />
    }
    else if (Model.Editor == "TextArea")
    {
        <textarea asp-for="Text" class="form-control" required="@required"></textarea>
    }
    else
    {
        <input type="text" asp-for="Text" class="form-control" required="@required" />
    }

    <span asp-validation-for="Text" class="text-danger"></span>

    @if (!String.IsNullOrEmpty(Model.Hint))
    {
        <span class="hint">@Model.Hint</span>
    }
</div>
