@using ApplicantTest.Models
@model ApplicantTestPart

<h1>Applicant Test Part</h1>

<div>
    <p><strong>Total Score:</strong> @Model.Score</p>
    <p><strong>Email Sent:</strong> @Model.EmailSent</p>
    <p><strong>Bookmark Clicked:</strong> @Model.BookmarkClicked</p>
    <p><strong>Form Submitted:</strong> @Model.FormSubmitted</p>
    <p><strong>Message Sent To Asako Satoshi:</strong> @Model.MessageSentToAsakoSatoshi</p>
    <p><strong>Message Sent To Lily Wang:</strong> @Model.MessageSentToLilyWang</p>
    <p><strong>Message Sent To Madison Byers:</strong> @Model.MessageSentToMadisonByers</p>
    <p><strong>Message Sent To Dominic Gonzalez:</strong> @Model.MessageSentToDominicGonzalez</p>
    <p><strong>Message Sent To Simone Khan:</strong> @Model.MessageSentToSimoneKhan</p>
</div>