@using OrchardCore

@model ReportParameterViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Create Report Settings"])</h1></zone>

<form asp-action="Create" method="post" enctype="multipart/form-data" class="no-multisubmit">
    @if (!ViewContext.ModelState.IsValid)
    {
        @Html.ValidationSummary()
    }

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Title">
        <label class="@Orchard.GetLabelClasses()" asp-for="Title">@T["Title"]</label>
        <div class="@Orchard.GetEndClasses()">
            <input type="text" class="form-control" asp-for="Title" />
            <span asp-validation-for="Title"></span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Description">
        <label class="@Orchard.GetLabelClasses()" asp-for="Description">@T["Description"]</label>
        <div class="@Orchard.GetEndClasses()">
            <textarea class="form-control" asp-for="Description"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Type">
        <label class="@Orchard.GetLabelClasses()" asp-for="Type">@T["Type"]</label>
        <div class="@Orchard.GetEndClasses()">
            <select class="form-select" asp-for="Type" asp-items="Model.Types"></select>
            <span asp-validation-for="Type"></span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Range">
        <label class="@Orchard.GetLabelClasses()" asp-for="Range">@T["Date Range"]</label>
        <div class="@Orchard.GetEndClasses()">
            <select class="form-select" asp-for="Range" asp-items="Model.DateRanges"></select>
            <span asp-validation-for="Range"></span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="SurveyId">
        <label class="@Orchard.GetLabelClasses()" asp-for="SurveyId">@T["Survey"]</label>
        <div class="@Orchard.GetEndClasses()">
            <select class="form-select" asp-for="SurveyId" asp-items="Model.Surveys">
                <option value="">@T["Select a survey"]</option>
            </select>
            <span asp-validation-for="SurveyId"></span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="TeamId">
        <label class="@Orchard.GetLabelClasses()" asp-for="TeamId">@T["Teams"]</label>
        <div class="@Orchard.GetEndClasses()">
            <select class="form-select" asp-for="TeamId" asp-items="Model.Teams">
                <option value="">@T["Optionally, select a team"]</option>
            </select>
            <span asp-validation-for="TeamId"></span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="IntervieweeId">
        <label class="@Orchard.GetLabelClasses()" asp-for="IntervieweeId">@T["Interviewee"]</label>
        <div class="@Orchard.GetEndClasses()">
            <select class="form-select" asp-for="IntervieweeId" asp-items="Model.Interviewees">
                <option value="">@T["Optionally, select an interviewee"]</option>
            </select>
            <span asp-validation-for="IntervieweeId"></span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()">
        <div class="@Orchard.GetEndClasses(true)">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="ShowOnNavbar" checked="@Model.ShowOnNavbar" role="button" data-bs-toggle="collapse" data-bs-target="#Roles_Wrapper" aria-expanded="false" aria-controls="Roles_Wrapper" />
                <label class="form-check-label" asp-for="ShowOnNavbar">@T["Show on navbar"]</label>
                <span class="hint dashed">@T["Check to auto add this settings to the navbar of the frontend site."]</span>
            </div>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses("collapse", Model.ShowOnNavbar ? "show" : string.Empty)" asp-validation-class-for="RoleNames" id="Roles_Wrapper">
        <label class="@Orchard.GetLabelClasses()" asp-for="RoleNames">@T["Roles that can view this item"]</label>
        <div class="@Orchard.GetEndClasses()">
            <select class="form-select" asp-for="RoleNames" asp-items="Model.Roles"></select>
            <span asp-validation-for="RoleNames"></span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()">
        <div class="@Orchard.GetEndClasses(true)">
            <button type="submit" class="btn btn-primary">@T["Create"]</button>
        </div>
    </div>

</form>
