@model CloudSolutions.Surveys.ViewModels.CompletedInterviewViewModel

<div class="alert alert-danger text-center">
    <p>
        @if (string.IsNullOrEmpty(Model.Message))
        {
            @T["Unable to resume interview."]
        }
        else
        {
            @Model.Message
        }
    </p>

    <p>@T["Click"] <a href="~/">@T["here"]</a> @T["to go to the main page."]</p>


    @if (User.HasClaim("Permission", "AccessAdminPanel"))
    {
        <p>@T["Click"] <a asp-route-area="OrchardCore.Admin" asp-controller="Admin" asp-action="Index">@T["here"]</a> @T["to go to the dashboard."]</p>
    }
</div>
